@import "tailwindcss";

:root {
  --background: #f7f6f8;
  --foreground: #141118;
}

@theme inline {
  --color-primary: #8c2bee;
  --color-secondary: #ec4899; /* para to-pink-400 */
  --color-white: #fff;
  --color-background-light: #f7f6f8;
  --color-background-dark: #191022;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-body);
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

/* Material Symbols Icons */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.fill-icon {
  font-variation-settings: "FILL" 1;
}
